From: <Saved by Blink>
Snapshot-Content-Location: https://www.pythonanywhere.com/user/ayushroyll/files/home/ayushroyll/myproject/templates/modify_student.html
Subject: Modify Student
Date: Wed, 4 Sep 2024 01:35:28 +0530
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--HpZumU44c3FRFwJZybuTANbzIit5I2ol2YkryhhT0B----"


------MultipartBoundary--HpZumU44c3FRFwJZybuTANbzIit5I2ol2YkryhhT0B----
Content-Type: text/html
Content-ID: <frame-0ABBD9831D4BE3FDC8DCD50E040A5233@mhtml.blink>
Content-Transfer-Encoding: binary
Content-Location: https://www.pythonanywhere.com/user/ayushroyll/files/home/ayushroyll/myproject/templates/modify_student.html

<!DOCTYPE html><html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><link rel="stylesheet" type="text/css" href="cid:css-baaa4ad5-e9c0-4193-be9d-7dde3facb3aa@mhtml.blink" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Student</title>
    
</head>
<body>
    <header>
        <h1>Modify Student</h1>
    </header>
    <main>
        <form action="https://www.pythonanywhere.com/modify_student" method="POST">
            
            <input type="text" name="name" placeholder="Name" value="{{ student.name }}" required=""><br>
            <select name="payment_status" required="">
                <option value="✅" {%="" if="" student.payment_status="=" "✅"="" %}selected{%="" endif="" %}="">✅</option>
                <option value="❌" {%="" if="" student.payment_status="=" "❌"="" %}selected{%="" endif="" %}="">❌</option>
                <option value="pending" {%="" if="" student.payment_status="=" "pending"="" %}selected{%="" endif="" %}="">pending</option>
            </select><br>
            <input type="submit" value="Modify Student">
        </form>
        <a href="https://www.pythonanywhere.com/" class="login-link">Cancel</a>
    </main>


</body></html>
------MultipartBoundary--HpZumU44c3FRFwJZybuTANbzIit5I2ol2YkryhhT0B----
Content-Type: text/css
Content-Transfer-Encoding: binary
Content-Location: cid:css-baaa4ad5-e9c0-4193-be9d-7dde3facb3aa@mhtml.blink

@charset "utf-8";


------MultipartBoundary--HpZumU44c3FRFwJZybuTANbzIit5I2ol2YkryhhT0B------
